<div class="container">
	<%= render 'shared/header' %>
	<div class="panel panel-info">
  		<div class="panel-heading">
    			<h3 class="panel-title">Edit API User <%= @api_user.name %></h3>
  		</div>
	  	<div class="panel-body">	
			<%=  render 'form' %>
		</div>
	</div>
</div>
